<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Rango</title>
    </head>
    <body>
        <h1>Rango says....Hello</h1>
        <div>
          {% if category_list %}
          <ul>
          {% for category in category_list %}
            <li><a href="{% url 'rango:category' category.slug %}">{{ category.name }}</a> </li>
            {% endfor %}
          </ul>
          {% else %}
          <p>there is no category</p>
          {% endif %}
        </div>
        <div>
            <a href="{% url 'rango:about' %}">About</a><br />
            <a href="{% url 'rango:add_category' %}">Add a New Category</a><br />
            <a href="{% url 'rango:register' %}">Register Here!</a><br />
        </div>
    </body>
</html>

