<!doctype html>
<html>
  <head>
    <title>Rango</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Register with Rango</h1>
    {% if registered %}
    Rango Says: <strong>thank you for registering</strong>
    <a href="{% url 'rango:index' %}">Return to the Homepage</a><br />
    {% else %}
    Rango says: <strong>register here!</strong><br />
    <form method="post" id="profile_form" action="{% url 'rango:register' %}"
    enctype="multipart/form-data">
      {% csrf_token %}
      {{ profile_form.as_p }}
      <input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
  </body>
</html>
